*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #1A2238;
}

.heading {
    display: flex;
    color: #9DAAF2;
    font-family: 'Open Sans';
    font-size: 35px;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.search-bar-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.search-header {
    display: flex;
    color: #9DAAF2;
    font-family: 'Open Sans';
    font-size: 20px;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.movies-grid {
    padding: 1em;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.movie-card {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    font-family: "Merriweather";
    background-color: #fefefe;
    align-items: center;
    border-radius: 1em;
    overflow:hidden;
}

.movie-card img {
    width: 100%;
    border-radius: 1em;
}

img:hover {
    transform: translateY(-10px);
    transition: 0.2s all linear;
}

.movie-modal {
    display: flex; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,0.9);
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: #fefefe;
    padding: 30px;
    border: 1px solid #888;
    width: 40%;
    font-family: "Krona One"
}

.modal-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    font-size: 15px;
}

#movie-info {
    border-radius: 15%;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
    text-align: center;
}

.movie-votes {
    font-size: 15px;
}
.movie-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

hr.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.bottom-button{
    display: flex;                 
    flex-wrap: wrap;              
    justify-content: center; 
}

.hidden {
    display: none;
}

.video-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

hr.rounded {
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.fa-star {
    color:#F4DB7D;
}

input {
    width: 400px;
}